<div class="span12">
  <div class="page-header">
    <h5><i class="icon-shopping-cart"></i>购物车</small></h5>
</div>
<% 
  if @cart.present?
    books = @cart.books
    if books.length > 0
  %>
  <table class="table table-hover table-condensed">
    <thead>
      <th>商品</th>
      <th>单价</th>
      <th>数量</th>
      <th>总价</th>
    </thead>
    <tbody>
      <% books.each do |book| %>
        <tr id="book_<%= book.id %>">
          <td><%= book.name %></td>
          <td><%= book.price %></td>
          <td><%= book.get_num(@cart) %></td>
          <td><%= book.get_total(@cart) %></td>
        </tr>
      <% end %>
      <tr>
        <td colspan="4" style="text-align:right;">
          <h4><em> 合计：<span style="color:#ff0000;font-size:25px;">&yen;<%= @cart.total_price %></span></em></h4>
        </td>
      </tr>
    </tbody>
  </table>
  <div class="text-right">
    <% if signed_in? %>
      <%= link_to("结算","#",:class => "btn btn-small btn-primary",:style => "color:#ffffff;")   %>
    <% else %>
      <%= link_to("登录并结算","#",:class => "btn btn-small btn-primary",:style => "color:#ffffff;",:id => "login_and_pay")   %>
    <% end %>
    <%= link_to("<i class='icon-shopping-cart'></i>清空购物车".html_safe,cart_path(@cart),:remote => true,:method => :DELETE,:class => "btn btn-small",:style => "color:#000000;")   %>
  </div>
  <br/>
<% end %>
  <% end %>
</div>
